:root {
    font-family: Inter, Avenir, Helvetica, arial, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, .8);
    background-color: #242424;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

html,
body,
#root {
    height: 100%;
}

.screen {
    height: 100%;
}

.point {
    position: absolute;
    background-color: yellow;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2em;
    display: flex;
    gap: 1em;
}

.header button {
    height: 3em;
    padding: 0 3em;
    border-radius: .5em;
    background-color: #fff;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
}

.header button:hover {
    background-color: #e7e6e6;
}

.header button[disabled] {
    opacity: .5;
}